<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Авторизация</title>

    <link rel="stylesheet" href="/styles/login_styles.css" />
  </head>

  <body>
    <div class="container">
      <h1>Авторизация</h1>

      <div id="error-message" class="error-alert"></div>

      <form id="authForm">
        <div class="form-group">
          <label>Email</label>
          <input name="email" type="email" placeholder="example@mail.com" />
        </div>

        <div class="form-group">
          <label>Пароль</label>
          <input name="password" type="password" placeholder="Введите пароль" />
        </div>

        <button type="submit" class="btn-submit">Войти</button>
      </form>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const urlParams = new URLSearchParams(window.location.search);
        const errorType = urlParams.get("error");

        const errorBox = document.getElementById("error-message");

        if (errorType) {
          errorBox.style.display = "block";

          if (errorType === "session_expired") {
            errorBox.textContent = "Ваша сессия истекла";
          } else {
            errorBox.textContent = "Ошибка авторизации. Попробуйте еще раз.";
          }
        }
      });

      const form = document.getElementById("authForm");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const data = {
          email: form.email.value,
          password: form.password.value,
        };

        const response = await fetch("/auth/login", {
          method: "POST",
          body: JSON.stringify(data),
          headers: {
            "Content-type": "application/json; charset=UTF-8",
          },
        });
        if (response.ok) {
          const result = await response.json();
          console.log(result.message);
          window.location.href = "/dashboard";
        } else {
          const errorData = await response.json();
          console.log(errorData.message);
        }
      });
    </script>
  </body>
</html>
